/* .card {
    display: flex;
    flex-direction: column;
  }
    
  .badge {
    font-size: 0.75rem;
  }
  
  .mt-auto {
    margin-top: auto;
  }

  .card-body {
  display: flex;
  flex-direction: column;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
} */

/* .error-border-2 {
  border: 2px solid red !important;
} */