<app-alert [errorMessage]="errorMessage" [successMessage]="successMessage"></app-alert>

<div class="card mb-3">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Products Categories</h5>
        <div>
            <a class="text-secondary" (click)="toggleEditMode()" *ngIf="!editMode">
                <i class="bx bx-edit-alt ms-2" style="font-size: 1.5rem;"></i>Add
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categoriesList">
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm me-lg-2 mb-lg-0 mb-1 me-1"
                                (click)="toggleEditMode(category)">Edit</button>
                            <button class="btn btn-danger btn-sm me-lg-2 mb-lg-0 mb-1 me-1" (click)="deleteCategory(category.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card" *ngIf="editMode">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Category Form: {{ formMode == 'Add' ? 'Add Category' : 'Edit Category' }}</h5>
        <div>
            <a class="text-secondary" (click)="hidewForm()" *ngIf="editMode">
                <i class="bx bx-low-vision ms-2" style="font-size: 1.5rem;"></i>Hide
            </a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" class="mt-4">
            <div class="mb-3">
                <label for="name" class="form-label">Category Name</label>
                <input id="name" class="form-control" formControlName="name">
                <div *ngIf="categoryForm.get('name')?.errors?.['required']" class="text-danger">
                    Name is required.
                </div>
                <div *ngIf="categoryForm.get('name')?.errors?.['maxlength']" class="text-danger">
                    Name cannot exceed 255 characters.
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" class="form-control" formControlName="description"></textarea>
                <div *ngIf="categoryForm.get('description')?.errors?.['maxlength']" class="text-danger">
                    Description cannot exceed 255 characters.
                </div>
            </div>
                        
            <button type="submit" class="btn btn-primary" [disabled]="!categoryForm.valid">Save</button>
        </form>
    </div>
</div>
