
<app-alert [errorMessage]="errorMessage" [successMessage]="successMessage"></app-alert>

<div class="card mb-3">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Services</h5>
        <div>
            <a class="text-secondary" (click)="toggleEditMode()" *ngIf="!editMode">
                <i class="bx bx-edit-alt ms-2" style="font-size: 1.5rem;"></i>Add
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Promo Price</th>
                        <!-- <th>Description</th> -->
                        <th>Status</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of servicesList">
                        <td>{{ service.name }}</td>
                        <td>{{ service.price }}</td>
                        <td>{{ service.promo_price }}</td>
                        <!-- <td>{{ setting.description }}</td> -->
                        <td>{{ service.status == 1 ? 'Active' : 'Inactive' }}</td>
                        <td>
                            <img [src]="service?.image" alt="" *ngIf="service.type == 1" width="50">
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm me-lg-2 mb-lg-0 mb-1 me-1"
                                (click)="toggleEditMode(service)">Edit</button>
                            <button class="btn btn-danger btn-sm" (click)="deleteService(service.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- <h2>Settings</h2>
    <button class="btn btn-primary mb-3" (click)="toggleEditMode()">Add New Setting</button>
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div> -->
<div class="card" *ngIf="editMode">
    <div class="card-header d-flex align-items-center justify-content-between">
        <h5>Service Form: {{  formMode == 'Add' ? 'Add Serive' : 'Edit Service' }}</h5>
        <div>
            <a class="text-secondary" (click)="hidewForm()" *ngIf="editMode">
                <i class="bx bx-low-vision ms-2" style="font-size: 1.5rem;"></i>Hide
            </a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="serviceForm" (ngSubmit)="saveService()" class="mt-4">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input id="name" class="form-control" formControlName="name">
                <app-form-error-msg [control]="serviceForm.get('name')"></app-form-error-msg>
            </div>
        
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input id="price" class="form-control" formControlName="price" type="number">
                <app-form-error-msg [control]="serviceForm.get('price')"></app-form-error-msg>
            </div>
        
            <div class="mb-3">
                <label for="promo_price" class="form-label">Promo Price</label>
                <input id="promo_price" class="form-control" formControlName="promo_price" type="number">
                <app-form-error-msg [control]="serviceForm.get('promo_price')"></app-form-error-msg>
            </div>
        
            <!-- <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" class="form-control" formControlName="description"></textarea>
            </div> -->
        
            <div class="form-check mb-3">
                <input id="status" class="form-check-input" type="checkbox" formControlName="status">
                <label for="status" class="form-check-label">Active</label>
            </div>
        
            <div class="form-check mb-3" [ngClass]="{'d-none': formMode == 'Edit' && serviceForm.get('type').value == 1}">
                <input id="type" class="form-check-input" type="checkbox" formControlName="type">
                <label for="type" class="form-check-label">Main (for adding picture)</label>
            </div>

            <!-- <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <select class="form-select" formControlName="type">
                    <option value="1">Main (for adding picture)</option>
                    <option value="2">Secondary</option>
                  </select> 
            </div> -->
        
            <div class="mb-3" *ngIf="serviceForm.get('type').value == 1">
                <label for="image" class="form-label">Image</label>
                <!-- <input id="image" class="form-control" type="file" (change)="onFileSelected($event)"> -->
                <input id="image" class="form-control" type="file" (change)="onFileSelected($event)"
                [accept]="allowedFileTypes" [ngClass]="{'error-border-2': serviceForm.get('image')?.invalid && serviceForm.get('image')?.touched}">
                <app-form-error-msg [control]="serviceForm.get('image')"></app-form-error-msg>
                <img [src]="logoPreview || serviceForm.get('image').value" alt="serve logo" class="mt-3" style="width: 70px; height: 70px; border-radius: 10px; background-color: #d4d3d3;">
            </div>
        
            <button type="submit" class="btn btn-primary" [disabled]="!serviceForm.valid">Save</button>
        </form>
    </div>
</div>
