    <!-- Alert for success message -->
    <div class="alert alert-dismissible d-flex align-items-center" [ngClass]="{'alert-success': successMessage, 'alert-danger': errorMessage.length > 0}" role="alert" *ngIf="successMessage || errorMessage.length > 0">
      <svg *ngIf="errorMessage.length > 0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <svg  *ngIf="successMessage" xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <div>
        <ng-container *ngIf="successMessage">
          {{ successMessage }}
        </ng-container>
          <ul *ngIf="errorMessage.length > 0">
            <li  *ngFor="let errMsg of errorMessage">{{errMsg}}</li>
          </ul>
      </div>
    </div>

<div class="card mb-3">
  <div class="card-header d-flex align-items-center justify-content-between">
      <h5>Appointments</h5>
      <div>
          <button class="btn btn-primary btn-sm" (click)="displayModal = true">
              <i class="bx bx-plus ms-2"></i>Add Appointment
          </button>
      </div>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-12">
        <!-- <button class="btn btn-primary mb-3" (click)="displayModal = true">Add New Appointment</button> -->
  
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
  
          <!-- <div class="row g-3 mb-4">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="Name" [(ngModel)]="filter.name" (input)="applyFilters()">
            </div>
            <div class="col-md-3">
              <input type="email" class="form-control" placeholder="Email" [(ngModel)]="filter.email" (input)="applyFilters()">
            </div>
            <div class="col-md-3">
              <input type="date" class="form-control" placeholder="Date" [(ngModel)]="filter.date" (input)="applyFilters()">
            </div>
            <div class="col-md-2">
              <input type="number" class="form-control" placeholder="Status" [(ngModel)]="filter.status" (input)="applyFilters()">
            </div>
            <div class="col-md-1">
              <button class="btn btn-primary w-100" (click)="resetFilters()">Reset</button>
            </div>
          </div> -->
          <div class="row g-3 mb-4"  *ngIf="appointments.length != 0">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Search by name or email or service or phone" [(ngModel)]="filter.searchText" (input)="applyFilters()">
            </div>
            <div class="col-md-4">
              <input type="date" class="form-control" placeholder="Date" [(ngModel)]="filter.date" (input)="applyFilters()">
            </div>
            <div class="col-md-4">
              <select class="form-select" [(ngModel)]="filter.status" (change)="applyFilters()">
                <!-- <option value="" disabled selected> Search by Status </option> -->
                <option value="">All Status</option>
                <option *ngFor="let status of statusList" [value]="status.statusNumber">{{status.title}}</option>
            </select> 
              <!-- <input type="number" class="form-control" placeholder="Statud" [(ngModel)]="filter.status" (input)="applyFilters()"> -->
            </div>
            <div class="col-md-2">
              <button class="btn btn-primary" (click)="resetFilters()">Reset</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-secondary" (click)="generatePDF()"><i class="bx bx-cloud-download"></i>Download</button>
            </div>
          </div>
  
          <div class="table-responsive"  *ngIf="appointments.length != 0">
            <div>
              <select class="form-select-sm" style="width: 70px;" [(ngModel)]="pageSize">
                <option [ngValue]="10">10</option>
                <option [ngValue]="20">20</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
                <option [ngValue]="appointments.length">All</option>
              </select>
              <label class="form-check-label ms-2">entries per page</label>
            </div>
            <table class="table table-striped table-hover mb-3 printable" *ngIf="appointments.length > 0">
              <thead>
                <tr>
                  <!-- <th (click)="setSortColumn('name')">Name</th>
                  <th (click)="setSortColumn('email')">Email</th>
                  <th (click)="setSortColumn('phone')">Phone</th>
                  <th (click)="setSortColumn('date')">Date</th>
                  <th (click)="setSortColumn('time')">Time</th>
                  <th (click)="setSortColumn('service')">Service</th>
                  <th (click)="setSortColumn('status')">Status</th> -->
                  <th>N°</th>
                  <th (click)="sort('name')">
                    Name
                    <span *ngIf="currentSortField === 'name' && sortOrder === 'asc'">▲</span>
                    <span *ngIf="currentSortField === 'name' && sortOrder === 'desc'">▼</span>
                  </th>
                  <th (click)="sort('email')">
                    Email
                    <span *ngIf="currentSortField === 'email' && sortOrder === 'asc'">▲</span>
                    <span *ngIf="currentSortField === 'email' && sortOrder === 'desc'">▼</span>
                  </th>
                  <th (click)="sort('phone')">
                    Phone
                    <span *ngIf="currentSortField === 'phone' && sortOrder === 'asc'">▲</span>
                    <span *ngIf="currentSortField === 'phone' && sortOrder === 'desc'">▼</span>
                  </th>
                  <th (click)="sort('date')">
                    Date
                    <span *ngIf="currentSortField === 'date' && sortOrder === 'asc'">▲</span>
                    <span *ngIf="currentSortField === 'date' && sortOrder === 'desc'">▼</span>
                  </th>
                  <th (click)="sort('time')">
                    Time
                    <span *ngIf="currentSortField === 'time' && sortOrder === 'asc'">▲</span>
                    <span *ngIf="currentSortField === 'time' && sortOrder === 'desc'">▼</span>
                  </th>
                  <th (click)="sort('service')">
                    Service
                    <span *ngIf="currentSortField === 'service' && sortOrder === 'asc'">▲</span>
                    <span *ngIf="currentSortField === 'service' && sortOrder === 'desc'">▼</span>
                  </th>
                  <th (click)="sort('status')">
                    Status
                    <span *ngIf="currentSortField === 'status' && sortOrder === 'asc'">▲</span>
                    <span *ngIf="currentSortField === 'status' && sortOrder === 'desc'">▼</span>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of filteredAppointments | paginate: { currentPage: page, itemsPerPage: pageSize, totalItems: collectionSize };  index as i">
                <!-- <tr *ngFor="let appointment of filteredAppointments"> -->
                <!-- <tr *ngFor="let appointment of paginatedAppointments"> -->
                  <td>{{ i+1 }}</td>
                  <td>{{ appointment.name }}</td>
                  <td>{{ appointment.email }}</td>
                  <td>{{ appointment.phone }}</td>
                  <td>{{ appointment.date }}</td>
                  <td>{{ getOnlyHourMinute(appointment.time) }}</td>
                  <td>{{ appointment.service }}</td>
                  <td>
                    <span class="badge" [ngClass]="'bg-'+getStatusName(appointment.status).color">
                      {{ getStatusName(appointment.status).title }}
                    </span>
                  </td>
                  <td>
                    <button class="btn btn-info btn-sm mb-2 mb-xlg-0 me-2" *ngIf="appointment.status != 2 && appointment.status == 1" (click)="changeStatus(appointment.id, 2)">Done</button>
                    <button class="btn btn-secondary btn-sm mb-2 mb-xlg-0 me-2"  *ngIf="appointment.status != 3 && appointment.status == 1" (click)="changeStatus(appointment.id, 3)">Missed</button>
                    <button class="btn btn-danger btn-sm mb-2 mb-xlg-0" (click)="deleteAppointment(appointment.id)">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
              
              <!-- <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls> -->
              
              <div class="d-flex justify-content-center">
                <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="pageChanged($event)"
                (pageBoundsCorrection)="pageChanged($event)"
                >
                </pagination-controls>
              </div>
              <!-- (pageChange)="page = $event"> -->
              
              <!-- <pagination-controls
              (pageChange)="pageChanged($event)"
              [itemsPerPage]="pageSize"
              [totalItems]="collectionSize">
              </pagination-controls> -->

            </div>
            <div *ngIf="appointments.length === 0" class="alert alert-warning">
              No appointments found.
            </div>
    </div>

</div>
</div>

<app-modal *ngIf="displayModal" [title]="'Add New Appointment'" [size]="'lg'" [template]="modal" (closeModal)="closeModal()"></app-modal>
<ng-template #modal>
  <app-appointment-form (bookedSuccess)="closeModal('Appointment added successfully')"></app-appointment-form>
</ng-template>


  
